#searchBarContainer{
    justify-content: center;
    text-align: center;
    display: flex;
    margin-right: 5px;
    
}

#inputSearch{
    padding: 8px;
    display: flex;
    width: 300px;
}
.searchButton{
    margin-left: 5px;
    border-radius: 50%;
    border: none;
    background-color: aliceblue;
    cursor: pointer;
}
.searchButton:hover{
    color: aliceblue;
    background-color: rgb(165, 166, 166);
}
@media (max-width: 1000px) {
    #inputSearch {
      width: 150px;
    }
  }

  @media (max-width: 730px) {
    
  }